# This is an example .env file. Copy this file to .env and replace all entries
# enclosed in triangle brackets by desired values before proceeding with the
# application.

POSTGRES_USER=app
POSTGRES_PASSWORD=<password>
POSTGRES_DB=project_storage

LOG_LEVEL=warning  # Possible values: debug, info, warning, error, crit

DB_URL=postgresql://app:<password>@db:5432/project_storage
